input.texto{
    width: 265px;
    height: 25px;
    border-radius: 10px;
}

input.boton{
    font-size: 15px;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0.497);
    color: rgb(10, 8, 8);
    background-color: #ffffff8c;
}
b{
    color: gray;
}
section{
    text-align: left;
}

section label{
    text-align: left;
}

div#info{
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.096);
    padding: 20px;
    border-radius: 20px;
}
#contact{
    display: none;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.096);
    padding: 20px;
    border-radius: 20px;
}